* {
    padding: 0;
    margin: 0;
}

.icon {
    color: white;
    font-size: 24px;
    font-family: 'Material Icons';
    font-weight: 400;
    vertical-align: middle;
  }

#homepage-button img {
    height: 50px;
    width: auto;
}

header#base-header {
    margin: 0 auto;
    width: 100%;
    padding: 1rem 0;
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#base-nav {
    list-style: none;
    margin-right: 5vw;
    padding: 0;
    display: flex;
    align-items: center;
}

nav#base-nav li {
    display: inline-block;
    padding: 0 2vw;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

nav#base-nav .icon{
    color: black;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: black;
}

#homepage-button {
    margin-left: 5vw;
}


@media screen and (max-width: 600px) {
    nav#base-nav li {
        display: block;
        padding: 10px;
        text-align: left;
    }
}