{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | ICFinder
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block pagestyle %}
    {% endblock pagestyle %}
    {% block pagescript %}
    {% endblock pagescript %}
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'login' %}">
                <div id="homepage-button">
                    <img src="{% static 'images/logo.svg' %}" alt="Homepage">
                </div>
                <ul>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    {% else %}
                    <li> Logado com {{ user.first_name }} </li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                    <li><a href="{% url 'chats' %}">Conversas</a></li>
                    {% endif %}
                </ul>
            </a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
    </footer>
</body>

</html>