{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | ICFinder
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block pagestyle %}
    {% endblock pagestyle %}
    {% block pagescript %}
    {% endblock pagescript %}
</head>

<body>
    <header id="base-header">
        <a href="{% url 'login' %}">
            <div id="homepage-button">
                <img src="{% static 'images/logo.svg' %}" alt="Homepage">
            </div>
        </a>
        <nav id="base-nav">
                <ul>
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}"> <span class="icon">login</span> Entrar </a></li>
                    {% else %}
                    <li><a href="{% url 'logout' %}"> <span class="icon">logout</span> Sair </a></li>
                    <li><a href="{% url 'chats' %}"> <span class="icon">chat_bubble</span> Conversas </a></li>
                    <li><a href="{% url 'perfil_detail' pk=user.pk %}"> <span class="icon">account_circle</span> {{ user.first_name }}</a></li>
                    {% endif %}
                </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
    </footer>
</body>

</html>