{% extends 'base.html' %}
{% load static %}

{% block title %}
Página do post
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_detail.css' %}">
{% endblock pagestyle %}
    
{% block content %}
    <h1>{{ projeto }}</h1>
    Nessa página deve ser carregado o detail view de cada projeto
    {% if user.professor %}
    <p>Alunos interessados</p>
    {% for inscrito in inscritos %}
        {{ inscrito }}
        <form method="post" action="{% url 'detail' projeto.id %}">
          {% csrf_token %}
          <button type="submit" name="action" value="aceitar_{{ inscrito.aluno }}">Aceitar</button>
          <button type="submit" name="action" value="recusar_{{ inscrito.aluno }}">Recusar</button>
        </form>
    {% endfor %}
    {% elif user.aluno %}
      {% if inscricao_estado == 'pendente' or  inscricao_estado == 'aceito' %}
      {{ inscricao_estado }}
      {% else %}
      <form method="post" action="{% url 'detail' projeto.id %}">
          {% csrf_token %}
          <button  type="submit" name="action" value="inscrever">Inscrever-se</button>
        </form>
      {% endif %}
    {% endif %}
    
{% endblock %}