{% extends 'base.html' %}
{% load static %}

{% block title %}
Página Inicial
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
{% endblock pagestyle %}

{% block content %}

  <p class="encontrados">Número de projetos encontrados: {{ num_projetos }}</p>

<div class="card-container">
  {% for projeto in projetos %}
    {% if user.aluno %}
    <a href="{% url 'detail' projeto.id %}">
      <div class="card">
        <img class="cardImg" src="{{ projeto.cardImg }}" alt="Imagem do projeto">
        <div class="cardText">  
          <h3>{{ projeto.titulo }}</h3>
          <div class="professor">
            <div class="circle">
              <span class="icon">group</span>
            </div>
            <p>Professor Dr {{ projeto.responsavel.user.first_name|title }} {{ projeto.responsavel.user.last_name|title }}</p>
          </div>
          <div class="professor">
            <div class="circle">
              <span class="icon">import_contacts</span>
            </div>
            <p>{{ projeto.lab.nomeCompleto }}</p>
          </div>
          <div class="ver-mais-btn">
            <p>ver mais</p>
          </div>
        </div>
      </div>
    </a>
    {% elif user.professor %}
    <a href="{% url 'detail' projeto.id %}">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="cardImg" src="{{ projeto.cardImg }}" alt="Imagem do projeto">
            <div class="cardText">  
              <h3>{{ projeto.titulo }}</h3>
              <div class="professor">
                <div class="circle">
                  <span class="icon">group</span>
                </div>
                <p>Professor Dr {{ projeto.responsavel.user.first_name|title }} {{ projeto.responsavel.user.last_name|title }}</p>
              </div>
              <div class="professor">
                <div class="circle">
                  <span class="icon">import_contacts</span>
                </div>
                <p>{{ projeto.lab.nomeCompleto }}</p>
              </div>
              <div class="ver-mais-btn">
                <p>ver mais</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="back-container">
              
              <div class="back-text">
  
                <p>Alunos interessados</p>
              </div>
  
              {% for inscrito in projeto.inscritos.all %}
                <div class="back-text">
                  <p>{{inscrito}}</p>
                </div>
              {% endfor %}
              <div class="back-text">

                <p>Vagas disponíveis: {{ projeto.vagas }}</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </a>
    {% endif %}
  {% endfor %}
  <a href="{% url 'project_create' %}">
    <div class="card-add">
            <span class="icon-add">add_box</span> 
    </div>
  </a>
{% endblock content %}