{% extends 'base.html' %}
{% load static %}

{% block title %}
Página Inicial
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
{% endblock pagestyle %}

{% block content %}
<div class="infos">

  <form method="get">
  <label class="dropdown">

    <div class="dd-button">
      Filtros
    </div>

    <input type="checkbox" class="dd-input" id="test">

    <ul class="dd-menu">
      <li> <div class="filter-div">
        
        <p>Tem vaga disponível?</p>
        {{ filter.form.disponibilidade }} 
      </div></li>
      <li> <div class="filter-div">
        
        <p>Ordem de apresentação</p>
      {{ filter.form.ordem }} 
    </div></li>
      <li class="divider"></li>
      <li class="li-btn">
        <button class="filtrar-btn" type="submit">Filtrar</button>
      
      </li>
    </ul>
    
  </label>
  </form>

  <p class="encontrados">Número de projetos encontrados: {{ num_projetos }}</p>
</div>

<div class="card-container">
  {% if user.aluno %}
  {% for projeto in projetos %}
    <a href="{% url 'detail' projeto.id %}">
      <div class="card">
        <img class="cardImg" src="{{ projeto.cardImg }}" alt="Imagem do projeto">
        <div class="cardText">  
          <h3>{{ projeto.titulo }}</h3>
          <div class="professor">
            <div class="circle">
              <span class="icon">group</span>
            </div>
            <p>Professor Dr {{ projeto.responsavel.user.first_name|title }} {{ projeto.responsavel.user.last_name|title }}</p>
          </div>
          <div class="professor">
            <div class="circle">
              <span class="icon">import_contacts</span>
            </div>
            <p>{{ projeto.lab.nomeCompleto }}</p>
          </div>
          <div class="ver-mais-btn">
            <p>ver mais</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    {% elif user.professor %}
    {% for projeto in projetos %}
    <a href="{% url 'detail' projeto.id %}">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="cardImg" src="{{ projeto.cardImg }}" alt="Imagem do projeto">
            <div class="cardText">  
              <h3>{{ projeto.titulo }}</h3>
              <div class="professor">
                <div class="circle">
                  <span class="icon">group</span>
                </div>
                <p>Professor Dr {{ projeto.responsavel.user.first_name|title }} {{ projeto.responsavel.user.last_name|title }}</p>
              </div>
              <div class="professor">
                <div class="circle">
                  <span class="icon">import_contacts</span>
                </div>
                <p>{{ projeto.lab.nomeCompleto }}</p>
              </div>
              <div class="ver-mais-btn">
                <p>ver mais</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="back-container">
              
              <div class="back-text">
  
                <p>Alunos interessados</p>
              </div>
  
              {% for inscrito in projeto.inscritos.all %}
                <div class="back-text">
                  <p>{{inscrito}}</p>
                </div>
              {% endfor %}
              <div class="back-text">

                <p>Vagas disponíveis: {{ projeto.vagas }}</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </a>
    {% endfor %}
    <a href="{% url 'project_create' %}">
      <div class="card-add">
        <span class="icon-add">add_box</span> 
      </div>
    </a>
    {% endif %}
{% endblock content %}