{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_login.css' %}">
{% endblock pagestyle %}

{% block content %}
<div class="container">
    <div class="main-content">
      <div class="logo">
            <img src="{% static 'images/logo.svg' %}" alt="ICFinder Logo">
      </div>
      <div class="separator"></div>
      <div class="login-section">
        <div class="login-title">Login</div>
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %} 
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="input-section">
            <div class="input-label">Email</div>
            <div class="input-field">
              <div class="icon">account_circle</div>
              <span class="custom-input">{{ form.username }}</span>
            </div>
          </div>
          <div class="input-section">
            <div class="input-label">Senha</div>
            <div class="input-field">
              <div class="icon">lock</div>
              <span class="custom-input">{{ form.password }}</span>
            </div>
          </div>
          <div class="button-section">
            <div class="button">
              <a href="{% url 'registration_student' %}">
                Cadastrar-se
              </a>
            </div>
            <div class="button">
              <a href="{% url 'reset_password' %}">
                Esqueci minha senha
              </a>
            </div>
          </div>
          <div class="login-button">
            <button type="submit">
              <div class="arrow-icon">
                <span class="icon">arrow_right_alt</span>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
