{% extends 'base.html' %}
{% load static %}

{% block title %}
Página de criação de post
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_new.css' %}">
{% endblock pagestyle %}


{% block content %}
<div class="project_form">
    <h2>Criar novo projeto</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">Salvar</button>
    </form>
</div>
    
{% endblock %}