{% extends 'base.html' %}
{% load static %}

{% block title %}
Página de perfil
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_perfil.css' %}">
{% endblock pagestyle %}
    
{% block content %}
  <div class = 'main_content'>

    <h1 id = "título">Seu perfil</h1>
    <div class="gerais"> 
      <div class="profile-pic-container">
        {% if is_professor %}
        <img class = 'bgImg' src= "{{ professor.profile_pic }}" alt="bgImg">
        {% elif is_aluno %}
        <img class = 'bgImg' src= "{{ aluno.profile_pic }}" alt="bgImg">
        {% endif %}
      </div>

      <div class="desc-line">
        <span class="icon">badge</span> 
        <p>{{user.first_name}} {{user.last_name}}</p>
      </div>
      <div class="desc-line">
        <span class="icon">mail</span> 
        <p>{{user.email}}</p>
      </div>
      <div class="desc-line">
        <span class="icon">call</span> 
        {% if is_professor %}
        <p>{{professor.phone_number}}</p>
        {% elif is_aluno %}
        <p>{{ aluno.phone_number }}</p>
        {% endif %}
      </div>
      <div class="desc-line">
        <span class="icon">business_benter</span> 
        {% if is_professor %}
        <p>{{professor.departamento}}</p>
        {% else %}
        <p>{{aluno.curso}}</p>

      {% endif %}
      </div>

      <div class="desc-line">
        {% if is_professor %}
        <span class="icon">chat</span> 
          {% if professor.disponibilidade %}
          <p class = "Disponível">Disponível para chat</p>
          {% else %}
          <p class = "Indisponível">Indisponível</p>
          {% endif %}
        {% endif %}
        
        </div>

    </div>

    <div class = "short_bio">
      <h2 id = "short_bio_titulo">Descrição</h2>
      {% if is_aluno %}
      <p class = "box_text">{{aluno.short_bio}}</p>
      {% elif is_professor %}
      <p class = "box_text">{{professor.short_bio}}</p>
      {% endif %}
    </div>


    {% if is_professor %}
    <div class="professor">

      <h2>Laboratórios:</h2>
      <div class = "box_text">
        {% for lab in professor.lab.all %}
        <p>{{lab}}</p>
        {% endfor %}
      </div>
    </div>

    <a class = "btn-class" href="{% url 'perfil_professor_update' user.id %}">Editar perfil</a>

    {% elif is_aluno %}
    <h2>Interesses:</h2>
    <div class = "box_text">
      {% for interest in aluno.interests.all %}
      <p>{{interest}}</p>
      {% endfor %}
    </div>

    <a class = "btn-class" href = "{% url 'perfil_aluno_update' user.id %}">Editar perfil</a>
    {% endif %}
  </div>
{% endblock %}