{% extends 'base.html' %}
{% load static %}

{% block title %}
Página de Edição do perfil
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_perfil.css' %}">
{% endblock pagestyle %}
{% block content %}
<h2>Atualizar Dados do Perfil</h2>
<form method="POST">
  {% csrf_token %}

  
  
  <!-- {{ form.as_p }} -->

  <!--{{ form.departamento }}                #nao ta atualizando os campos e nem volta pra pagina de detail
  {{ form.disponibilidade }}
  {{ form.lab }} -->

    <!-- #nao ta atualizando os campos e nem volta pra pagina de detail -->
    
    {% for field in form.visible_fields %}      
    {% if field.name in 'email phone_number short_bio departamento lab' %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endif %}
    {% endfor %}



  <button type="submit">Atualizar</button>
</form>
{% endblock content %}