{% extends 'base.html' %}
{% load static %}

{% block title %}
Cadastro
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_register.css' %}">
{% endblock pagestyle %}

{% block content %}
<body>
    {% if registration_type == 'student' %}
        <form method="post" action="{% url 'registration_student' %}">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            {# Check if the field name is in the list of fields you want to include #}
            {% if field.name in 'first_name last_name email phone_number' %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endif %}
            {% endfor %}
            <button type="submit">Cadastrar</button>
        </form>
    {% elif registration_type == 'professor_registration' %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    {% endif %}

</body>
{% endblock content %}