{% extends 'base.html' %}
{% load static %}

{% block title %}
Cadastro
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_register.css' %}">
{% endblock pagestyle %}

{% block content %}
<body>
    <div class="registration_form">
    {% if registration_type == 'student' %}
        <form method="post" action="{% url 'registration_student' %}">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Erro no formulário. Por favor, corrija os campos destacados:</strong>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
            {% for field in form.visible_fields %}
            {% if field.name not in 'interests profile_pic' %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endif %}
            {% endfor %}
            <button type="submit">Continuar</button>
        </form>
    {% elif registration_type == 'professor_registration' %}
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Erro no formulário. Por favor, corrija os campos destacados:</strong>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
            {% for field in form.visible_fields %}
            {% if field.name not in 'profile_pic' %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
              </div>
            {% endif %}
            {% endfor %}
            <button type="submit">Cadastrar</button>
        </form>
    {% endif %}
    </div>
</body>
{% endblock content %}