{% extends 'base.html' %}
{% load static %}

{% block title %}
Recuperar conta
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_register.css' %}">
{% endblock pagestyle %}

{% block content %}
<div class="registration_form">
  <h2>Recuperar conta</h2>
  
  {% if error %}
    <p class="error">{{ error }}</p>
  {% endif %}
  <form method="post" action="{% url 'reset_password' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>
{% endblock %}