{% extends 'base.html' %}
{% load static %}

{% block title %}
Edição de projeto
{% endblock title %}

{% block pagestyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_new.css' %}">
{% endblock pagestyle %}


{% block content %}
<div class="project_form">
  <h2>Atualizar Dados do Projeto</h2>
  <form method="post">
      {% csrf_token %}
      {% if form.errors %}
      <div class="alert alert-danger">
          <strong>Erro no formulário. Por favor, corrija os campos destacados:</strong>
          <ul>
              {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                      <li>{{ field }}: {{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
      </div>
  {% endif %}
      {% for field in form.visible_fields %}
      <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
      </div>
      {% endfor %}
      <button type="submit">Salvar</button>
  </form>
</div>
{% endblock content %}